# 配置已取消，使用官方默认源
# 如需重新启用镜像，请取消下方注释

# registry=https://registry.npmmirror.com/
# sass_binary_site=https://npmmirror.com/mirrors/node-sass/
# electron_mirror=https://npmmirror.com/mirrors/electron/
# chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
# operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
# phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
# puppeteer_download_host=https://npmmirror.com/mirrors
# selenium_cdnurl=https://npmmirror.com/mirrors/selenium
# node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector
# disturl=https://npmmirror.com/dist 